.container {
    display: grid;
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content navbar";

    margin-left: 20px;
}

h2 {
    /* margin-top: 50px; */
}